
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.logopic {
    height: 18%;
    width: 18%;
    margin-left: auto;
    border-radius: 50%!important;
    /* padding: 5%; */
    margin-right: auto;
}

.color-nav {
    /* box-shadow: 2px 3px 7px 0px rgb(128, 128, 128); */
    /* background: url("../public/ep_naturalwhite.png") center center repeat; */
    /* border-top: 1px solid #999;
    border-bottom: 1px solid #999; */
    background-color: #7a769b;
    /* opacity: 0.6; */
}

#link {
    text-align: center;
}

#navLinks,
#collasible-nav-dropdown {
    color: #f6f5fb;
    background-color: #7a769b;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

#dropDown {
    color: #7a769b;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}


/* Nav {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
   
} */

pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    /* clear: both; */
    color: #fff;
    background: #7a769b;
    width: auto;
    /* padding: 0; */
    text-align: left;
    /* -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2; */
    /* -ms-word-break: normal;
    word-break: normal;  
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; */
    /* position: relative; */
    display: block;
    line-height: 28px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}

code {
    font-size: 11px;
    padding: 15px 20px 10px 14px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

#pictext {
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
    transform: translate(-50%, -50%);
    display: grid;
    max-width: auto;
    max-height: auto;
    padding: auto;
    /* margin-right: auto;
    margin-left: auto; */
}

#pictexttwo {
    /* text-align: left; */
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 10.2vw;
    color: #fdcbfe;
    text-shadow: 2px 2px #c1899b;
    animation-name: reactword;
    animation-duration: 5s;
}

@keyframes reactword {
    0% {
        color: #fdcbfe;
        text-shadow: 2px 2px #c1899b;
    }
    25% {
        color: #d57baf;
        text-shadow: 2px 2px #c1899b;
    }
    50% {
        color: #be9eee;
        text-shadow: 2px 2px #a17ae9;
    }
    100% {
        color: #004aad;
        text-shadow: 2px 2px #232b73;
    }
}


/* h2 is for the title */

h2 {
    text-align: center;
    padding: 25px;
    color: #555;
}


/* under pic header */

h5 {
    text-align: center;
    padding: 25px;
    color: #555;
}

h6 {
    text-align: center;
    padding: 25px;
    color: #555;
}

#impostorHr {
    width: 215px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -17px;
    margin-bottom: 1%;
}

#learningHr {
    width: 385px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -17px;
    margin-bottom: 1%;
}

#hr30Days {
    width: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -17px;
    margin-bottom: 1%;
}

#whoAmIHr {
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -17px;
    margin-bottom: 3%;
}

p {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid transparent;
    color: #555;
    display: block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.text {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}


/* My picture */

.img-fluid {
    border-radius: 50%!important;
    max-width: 75%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    margin-top: 50px;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* My picture */

.imgWrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
    height: auto;
    width: 40%;
}


/* This makes front page pix fluid */

.img-fluidtwo {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}

.imgWrappertwo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    height: auto;
    width: auto;
}


/* This makes all other pages pix fluid */

.img-fluidthree {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}

.imgWrapperthree {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    padding: 15px;
    height: auto;
    width: 100%;
    justify-content: center;
}


/* This makes header pix fluid */

.img-fluidfour {
    max-width: 100%;
    width: 100%;
    opacity: 0.9;
    height: 20rem;
    border-style: none;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}

.imgWrapperfour {
    display: grid;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}


/* page footer */

.page-footer {
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
    /* background: url("../public/ep_naturalwhite.png") center center repeat; */
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #7a769b;
    /* opacity: 0.6; */
    color: rgb(252, 249, 249);
    font-weight: bold;
}

#footerName {
    color: rgb(252, 249, 249);
}